.section-clima-general{
    
    
    width: 460px;    
    height: 280px;
    margin: 20px 10px;
    margin-bottom: 0;
    
}
.section-general-desktop{
    display: flex;
    justify-content: space-evenly;
}

.clima-country{
    font-size: 42px;
    font-weight: bolder;
}

.clima-country-container div{
    font-size: 18px; 
    padding-top: 15px; 
}
.clima-country-container div p {
    margin: 0 8px;
}


.clima-temp{
    font-size: 110px;
    padding-right: 40px;
}

.clima-lluvia{
    
    width: 200px;
    height: 180px;
}

.clima-humedad{
    font-size: 20px;
    padding-top: 0;
}

.section-viento{
    width: 460px;    
    height: 280px;
    margin: 20px 10px;  
    margin-bottom: 0;
    padding-top: 50px;
}

.section-extras{
    margin: 25px;
    height: 250px;
}
.section-extras p{
    
    margin-top: 0;
    line-height: 50px;
    font-size: 28px;
}

footer{
    height: 20vh;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}